@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary: #4845E4;
    --main-text-color: #fff;
    --secondary-text-color: #5722CD;
    --button-color: #ED4385;
    --standard-text: #0C0C0C;
    --floating-text-color: #F2F0FF;
    --background-project-color: #F3F6F9;
    --service-tile-color: #7A7A7A;
}

body h1, h2, h4, h5, h6 {
    font-family: 'Merriweather', serif;
    color: var(--main-text-color);
}

body ul {
    color: var(--main-text-color);
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

body p, h3 {
    color: var(--standard-text);
}

/*///////////////////content in de header///////////////////*/
header {
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
}

header img {
    height: 80px;
}

.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header-ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 400px;
    margin-right: 80px;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    flex-basis: 270px;
    justify-content: center;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    text-align: center;
    flex-basis: 570px;
}

header button {
    border-radius: 30px;
    padding: 16px;
    font-size: 11px;
    background-color: var(--button-color);
    color: var(--main-text-color);
}



/*/////////////////// einde van de content in de header ///////////////////*/

/*/////////////////// content van section one ///////////////////*/

.section-one {
    color: var(--secondary-text-color);
}

section h2 {
    color: var(--secondary-text-color);
}

section {
    display: flex;
    flex-direction: column;
}

.section-one-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-basis: 500px;
}

.section-one-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    text-align: center;
    flex-basis: 650px;
}

.section-one-p {
    margin-top: 50px;
}

.section-one-a {
    color: blue;
    text-decoration: none;
}

/*///////////////////section one einde ///////////////////*/

/*/////////////////// articles in de section two ///////////////////*/

section {
    border: 2px dashed blue;
}

.article-wrapper {
    border: 2px dashed orange;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-basis: 500px;
}

.article-content-text {
    display: flex;
    flex-direction: column;
    border: 2px dashed red;
    justify-content: center;
    flex-basis: 340px;
    margin-right: 20px;
    flex-shrink: 0;
}

.h2-image {
    height: 6px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 50px;
    margin: 30px 0;
}

.article-content-image-wrapper {
    flex-basis: 830px;
    flex-grow: 0;
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
}

.article-content-image {
    max-width: 100%;
}

span img {
    box-shadow:
}

h3 {
    font-size: 30px;
}

.article-p {
    font-size: 18px;
}
