@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary: #4845E4;
    --main-text-color: #fff;
    --secondary-text-color: #5722CD;
    --button-color: #ED4385;
    --standard-text: #0C0C0C;
    --floating-text-color: #F2F0FF;
    --background-project-color: #F3F6F9;
    --service-tile-color: #7A7A7A;
}

body h1 {
    font-family: 'Merriweather', serif;
    color: var(--main-text-color);
}

body p, ul, h2, h3, h4, h5, h6 {
    color: var(--main-text-color);
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

header {
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
}

header img {
    height: 80px;
}

.header-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header-ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 400px;
    margin-right: 80px;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    flex-basis: 270px;
    justify-content: center;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    text-align: center;
    flex-basis: 570px;
}

header button {
    border-radius: 30px;
    padding: 16px;
    font-size: 11px;
    background-color: var(--button-color);
    color: var(--main-text-color);
}

.section-one {
    color: var(--secondary-text-color);
}
